.newTask{
    display: flex;
    justify-content: center;
    width: 46rem;
    max-width: 80%;
    margin: -1.5rem auto;
    gap: 0.5rem;
}

.newTask textarea {
    background: var(--gray-600);
    border: none;
    border-radius: 8px;
    resize: none;
    height: 3.2rem;
    padding: 1rem;
    color: var(--gray-100);
    width: 40rem;
}

.newTask textarea:focus-visible {
    outline: none;
    border: 1px solid var(--purple);
}

.newTask button {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    color: var(--gray-100);
    background: var(--blue);

    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
}